[submodule "lvgl"]
	path = lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "lv_drivers"]
	path = lv_drivers
	url = https://github.com/lvgl/lv_drivers.git 
[submodule "rlottie"]
	path = rlottie
	url = https://github.com/Samsung/rlottie.git
[submodule "mooncake"]
	path = mooncake
	url = git@github.com:Forairaaaaa/mooncake.git
[submodule "mooncake_new"]
	path = mooncake_new
	url = git@github.com:Forairaaaaa/mooncake.git
[submodule "ArduinoJson"]
	path = ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
